@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide default navigation buttons */
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  display: none !important;
}

.swiper-container {
    width: 100%;
    max-width: 100vw;  /* Ensure it doesn't exceed the viewport width */
    overflow: hidden;  /* Prevent content from overflowing */
  }
  .swiper-slide {
    box-sizing: border-box;
    max-width: 100%;  /* Prevent slides from overflowing */
    overflow: hidden; /* Prevent content from overflowing */
  }
  
  